:root {
  --background-color: #000000;
  --color-text: #ffffff;
  --color-grey: #ffffff45;
  --color-verde: #75f94c;
  --color-rojo: #eb3223;
  --color-dark-text: #545b77;
}
.content {
  display: flex;
}

.contentSide {
  display: flex;
  flex-direction: column;
}

.container {
  background-color: var(--background-color);
}

/* Archivo: /style/Add.module.css */

.inputMonto {
  text-align: center;
  /* Otros estilos que quieras, como el ancho, borde, etc. */
  width: 100%;
  padding: 8px;
  border: 1px solid var(--color-grey);
  background-color: transparent;
  color: var(--color-text);
  border-radius: 5px;
}

.inputMonto::placeholder {
  text-align: center;
  color: var(--color-grey);
}

form input {
  text-align: center;
}

.contentAllCargar {
  position: relative;
  top: 4.5rem;
  right: 0.6rem;
  left: auto;
  display: flex;
  margin-left: auto;
}

.typeButtons {
  border: 0.5px solid var(--color-text);
  border-radius: 8px;
  display: flex;

  border: 0.5px solid var(--color-text);
}

.typeButton {
  background: none;
  border: none;
  color: var(--color-text);
  padding: 0;
}

.typeButton p {
  font-size: 1rem;
}

.contentButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  height: 40px;
  gap: 0.3rem;
}

.ingresoBtn {
  background-color: #12240a;
  border-top-left-radius: 8px ;
  border-bottom-left-radius: 8px;
}

.egresoBtn {
  background-color: #230804;
  border-radius: 8px;
}

.cancelContainer {
  background-color: var(--background-color);
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 1rem;
}

.buttonToggle {
  background: none;
  border: none;
  color: var(--color-text);
  background-color: #12240a;
  border-radius: 8px;
  border: 0.5px solid var(--color-text);
  cursor: pointer;
}

 .contentButton img {
    width: 20px;
    height: 20px;
  }

@media (max-width: 1000px) {
  .contentAllCargar {
    position: fixed;
    top: 21rem;
    z-index: 88888888;
  }

  .typeButton {
    background: none;
    border: none;
    color: var(--color-text);
    padding: 0;
  }

  .typeButton p {
    font-size: 0.6rem;
    width: 60px;
  }

  .contentButton {
    padding: 0rem 0.4rem;
    height: 40px;
  }

  .contentButton img {
    width: 20px;
    height: 20px;
  }
  .ingresoBtn {
    background-color: #12240a;
    border-right: 0.5px solid var(--color-text);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
  }

  .egresoBtn {
    background-color: #230804;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .cancelContainer {
    position: fixed;
    z-index: 9999999999;
    padding: 5rem 2rem 2.2rem;
  }

  .cerrar {
    padding: 0.5rem;
  }
}
