@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.container {
  border-right: 1px solid #ffffff55;
  width: 21vw;
  height: 100vh;
  background-color: var(--background-color);
  transition: width 0.3s ease;
}
.containerOpenClose {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
}
.close {
  cursor: pointer;
  display: none;
  color: #ffffff;
  padding: 0.5rem;
  background-color: #006769;
  border-radius: 8px;
}

.containerForm input:not([type="checkbox"]) {
  border: 1px solid white;
  border-radius: 13px;
  width: 17vw;
  height: 3rem;
  text-align: start;
  padding: 0 0.5rem;
}

.titleKeep {
  color: var(--color-text);
  font-size: 1.5rem;
  padding: 1rem 1.3rem;
  font-weight: 500;
  font-family: "poppins";
  font-style: normal;
  background-color: var(--background-color);
}
.subtitle {
  color: #545b77;
  width: 17vw;
  font-size: 0.9rem;
  font-family: "poppins";
  font-style: normal;
  font-weight: 200;
  padding-bottom: 1rem;
}
.circleOne {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #545b77;
  border: 1px solid #fff;
}
.circleTwo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #006769;
  border: 2px solid #fff;
}
.circleThree {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #967e42;
  border: 2px solid #fff;
}
.circleFour {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #4f6f52;
  border: 2px solid #fff;
}

.containerColors {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  width: 17vw;
}
.circleOne:hover,
.circleTwo:hover,
.circleThree:hover,
.circleFour:hover {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.keep {
  cursor: pointer;
  color: var(--color-text);
  font-size: 0.9rem;
  font-family: "poppins";
  font-style: normal;
  font-weight: 200;
}

.containerKeep {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 20vw;
}

.select {
  border: 1px solid white;

  border-radius: 13px;
  width: 17vw;
  height: 3rem;
  font-style: "poppins";
  font-weight: 800;
  font-style: normal;
  background: none;
  color: var(--color-text);
}

.form {
  width: 100%;
  height: fit-content;
  margin-left: 0;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  padding: 0 1rem;
}

.btn {
  background: none;
  border: none;
  background-color: #006769;
  border-radius: 16px;
  color: var(--color-text);
  height: 40px;
  width: 17vw;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid var(--color-text);
}

.selected {
  transform: scale(1.1);

  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
}

.datePicker {
  background: none;
  color: var(--color-text);
  border: 1px solid var(--color-text);
  border-radius: 13px;
}

.datePicker::-webkit-calendar-picker-indicator {
  filter: invert(1) brightness(1.5);

  cursor: pointer;
}

.containerEditCancel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.repetir {
  width: 15px;
  height: 15px;
}

@media (max-width: 1000px) {
  .container {
    width: 100vw;
    height: fit-content;
    z-index: 9999999;
    position: absolute;
    top: 6.4rem;
    border-right: none;
    background-color: transparent;
  }

  .containerOpen {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: flex-end;
    margin-top: 0px;
  }
  .containerForm {
    width: 100vw;
    overflow: hidden;
    background-color: var(--background-color);
  }
  .containerForm input:not([type="checkbox"]) {
    width: 90%;
  }
  .select {
    width: 90%;
  }
  .subtitle {
    width: 90%;
  }
  .containerColors {
    justify-content: start;
    width: 90%;
  }

  .btn {
    width: 90%;
  }
  .containerKeep {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 90%;
  }

  .closed {
    width: 60px;
  }
  .close {
    display: flex;
  }

  .form {
    padding: 0 1rem;
    border: 3px solid;
    margin-top: 0rem;
  }

  .containerOpenClose {
    width: fit-content;
    padding: 0.7rem 1rem 0;
  }

  .open {
    width: 100%;
    background-color: #000000;
  }

  .titleKeep {
    color: var(--color-text);
    font-size: 1.5rem;
    padding: 0rem 1rem 1.3rem;
    font-weight: 500;
    font-family: "poppins";
    font-style: normal;
    background-color: var(--background-color);
  }
}
