.container {
  border-right: 1px solid #ffffff55;
  width: 21vw;
  height: calc(100vh - 10vh);
  background-color: var(--background-color);
  transition: width 0.3s ease;
  padding-top: 3rem;
  
}

.containerOpenClose {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.close {
  margin: 1rem 1rem;
  cursor: pointer;
}

.containerAllInfo {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.containerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.containerInfo p {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--color-text);
}

.containerInfoIngreso,
.containerInfoEgreso,
.containerInfoTotal {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  margin-left: 1rem;
  font-size: 1.2rem;
}

.containerInfoIngresoIngresoText {
  color: var(--color-verde);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}

.containerInfoEgresoEgresoText {
  color: var(--color-rojo);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.2rem;
}

.containerInfoNumber {
  color: var(--color-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

.text {
  color: var(--color-dark-text);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.closed {
  width: 60px;
}

.textTotal {
  font-size: 1.3rem;
}

.total {
  font-size: 1.5rem;
}
.visibilityButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 0.5rem;
}

.visibilityIcon {
  width: 25px;
  height: 25px;
}

.containerImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  overflow: hidden;
  margin: 2rem 0;
}

.imgLeft {
  width: 90%;
}

.viewMode {
  display: flex;
  width: fit-content;
  border: 0.5px solid var(--color-text);
  border-radius: 8px;
  background-color: #272726;
  margin-top: 1rem;
  margin-left: 1rem;
}

.viewMode button {
  background: none;
  border: none;
  color: var(--color-text);
  max-width: 90px;
  padding: 0.5rem 1rem;

}

.monthPicker {
  background: none;
  border: none;
  width: 85px;
  color: var(--color-text);
}

.active {
  background-color: #32472c !important;
  border-radius: 8px;
}

@media (max-width: 1000px) {
  .container {
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    overflow-y: scroll;
    border: none;
    padding: 1.4rem 0.6rem 5.5rem 0.6rem;
    background: rgba(0, 0, 0, 0.077);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    z-index: 1;

    height: fit-content;



    

  }

  .firstContainer {
    border-radius: 21px;
    padding: 1rem;
    margin: 0 0rem;
    background-color: #1415140a;
  }

  .containerAllInfo {
    margin-top: 0rem;
  }

  .containerOpenClose {
    display: none;
  }

  .textTotal {
    font-size: 1rem;
    font-weight: 200;
  }

  .total {
    font-size: 2rem;
  }

  .containerInfo {
    margin-left: 0rem;
    margin-right: 0rem;
    padding: 0.9rem 0;
  }

  .containerInfoIngreso,
  .containerInfoEgreso,
  .containerInfoTotal {
    margin-left: 0rem;
  }

  .containerInfoIngresoIngresoText {
    font-weight: 300;
    font-size: 1rem;
    margin: 0rem;
  }

  .containerInfoEgresoEgresoText {
    font-weight: 300;
    font-size: 1rem;
    margin: 0rem;
  }

  .text {
    font-weight: 300;
    font-size: 1rem;
    margin: 0rem;
  }

  .containerInfoNumber {
    font-weight: 300;
    font-size: 1rem;
    margin: 0.1rem;
  }

  .containerImg {
    display: none;
  }

  .viewMode {
    margin-top: 0.6rem;
    margin-left: 0rem;
  }

  .viewMode button {
    font-size: 0.6rem;
    font-family: "poppins";
    padding: 0.2rem 1rem;
  }
}
