.container {
    border-right: 1px solid #ffffff55;
    width: 21vw;
    background-color: var( --background-color);
    transition: width 0.3s ease;
  
}
.containerOpenClose {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.close {
    margin: 1rem 1rem;
    cursor: pointer;
}

.containerAllInfo {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 1rem;
    color: var(--color-text);
}

.containerInfo p {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.containerInfoIngreso,
.containerInfoEgreso,
.containerInfoTotal {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
    align-items: center;
    margin-left: 1rem;
    font-size: 1.2rem;
}

.containerInfoIngresoIngresoText {
    color: var(--color-verde);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}

.containerInfoEgresoEgresoText {
    color: var(--color-rojo);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.2rem;
}

.containerInfoNumber {
    color: var(--color-text);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rem;
}

.text {
    color: var(--color-dark-text);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}
.closed {
    width: 60px;
}
.textTotal{
    font-size: 1.3rem;
}
.total{
    font-size: 1.5rem;
}