@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@font-face {
  font-family: "Menda";
  src: url("../../public/Menda\ Font/Menda\ Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.container {
  background-color: var(--background-color);
}
.nav {
  border-bottom: 1px solid #ffffff55;
  color: var(--color-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navItems {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}

.navLink {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 13px;
  transition: background-color 0.3s, transform 0.2s;
  color: var(--color-text);
  text-decoration: none;
  cursor: pointer;
  gap: 5px;
}
.navLink img {
  width: 1.2rem;
  height: 1.2rem;
}
.navLink p {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.navLink:hover {
  background-color: #ffffff1a;
}

.activeLink {
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-grey);
}
.activeLink p {
  font-weight: 500;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}
.logo {
  width: 4rem;
  height: 3rem;
}
.nameLogo {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: var(--color-text);
  font-family: "Menda";
  text-shadow: 4px 2px 7.2px #9dde8b;
}
.containerLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}
.userActions {
  display: flex;
  align-items: center;
}
.logoutButton {
  cursor: pointer;
  background: none;
  color: var(--color-text);
  font-size: 1rem;
  border: 1px solid #ffffff55;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  margin-right: 1rem;
  z-index: 99999999;
}
.imgUser {
  display: none;
}
.menuButton {
  display: none;
}

@media (max-width: 768px) {
  .nav {
    padding: 1rem 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.12);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: none;
  }

  .nameLogo {
    display: none;
  }

  .navItems {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--background-color);
    gap: 0.5rem;
    
  }

  .user {
    display: none;
  }
  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 2rem;
    width: 50px;
    height: 50px;
    display: flex;
    display: none;
  }
  
.navLink img {
  width: 1.4rem;
  height: 1.4em;
}
.navLink p {
  margin: 0;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}
.logoutButton {

  z-index: 99999999;
  margin-top: 4.5rem;
  margin-right: 3rem;
}
  
}
